/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.container-home {
  background-color: rgb(65, 58, 155);
  color: white;
  min-height: 95vh;
}

.col-home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.img-home {
  width: 500px;
}

/* .card img {
  width: 100%;
  height: 350px;
} */
